.container {
  display: flex;
  flex-direction: column;
  height: 350px;
  border: 1px solid #b4b4b4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;

  .image {
    height: 271px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }

  .cardDescription {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 19px;

    .titleLine {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      line-height: 28.13px;

      i {
        color: #fd2a4f;
      }
    }
  }
}
//used if needed to add more items on screen
// @media (max-width: "376px") {
//   .container {
//     height: 30%;
//   }
// }
