@import "../../../variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .leftLogos {
    display: flex;
    align-items: center;
    margin: 15px auto 15px 32px;
    gap: 8px;

    .logo > img {
      height: 64px;
      width: 64px;
    }
    .brand {
      font-size: 32px;
      line-height: 37.5px;
      text-transform: uppercase;
    }
  }

  .buttons {
    display: flex;
    gap: 20px;
    margin-right: 32px;

    .deleteIcon .bin {
      font-size: 29px;
      color: $deleteBtn-color;
    }

    .backBtn {
      display: flex;
      gap: 7.86px;
      text-transform: capitalize;
      border: 1px solid #343434;
      border-radius: 6px;
      padding: 8px 15px 8px 17.86px;
      font-size: 14px;
      line-height: 16.41px;
    }
  }
}

/*MEDIA*/
@media (max-width: "768px") {
  .container {
    flex-wrap: wrap;
    justify-content: center;

    .buttons {
      gap: 10px;
    }
  }
}

@media (max-width: "440px") {
  .container {
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    .leftLogos {
      margin: 0;
      margin-top: 15px;
    }

    .buttons {
      margin: 0;
      margin-bottom: 15px;
    }
  }
}
