<div class="container">
  <div class="leftLogos">
    <div class="logo link">
      <img src="../../../assets/images/alhambraLogo.png"
        alt="logo">
    </div>
    <div class="brand link">alhambra</div>
  </div>

  <div class="buttons">
    <div class="deleteIcon btn">
      <fa-icon [icon]="faTrash"
        class="bin"></fa-icon>
    </div>
    <a class="backBtn btn"
      href='/'>
      <fa-icon [icon]="faChevronLeft"
        class="arrow"></fa-icon>
      <div class="back">back</div>
    </a>
  </div>
</div>