@import "../../../variables.scss";

.container {
  display: flex;
  justify-content: center;
  font-size: 24px;
  gap: 0.6em;
  margin-bottom: 1em;
  line-height: 1.16em;

  .defaultBtn {
    padding: 0.5em 0.6em;
    border: 1px solid #b4b4b4;
    border-radius: 1.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: $buttons-color;
      color: #fff;
    }
    &.clickedBtn {
      background-color: $buttons-color;
      color: #fff;
    }
  }

  .active {
    padding: 15px;
    border-radius: 5px;
    background-color: aqua;
    border: 1px solid #b4b4b4;
  }
}

/*MEDIA*/
@media (max-width: "768px") {
  .container {
    font-size: 20px;
  }
}
@media (max-width: "428px") {
  .container {
    font-size: 16px;
  }
}
