@import "../../../variables.scss";

.container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 28px;

  .defaultBtn {
    padding: 12px 16px;
    border: 1px solid #b4b4b4;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: $buttons-color;
      color: #fff;
    }
    &.clickedBtn {
      background-color: $buttons-color;
      color: #fff;
    }
  }

  // .clickedBtn {
  //   padding: 12px 16px;
  //   border: 1px solid #b4b4b4;
  //   border-radius: 25px;
  //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  //   background-color: $buttons-color;
  //   color: #fff;
  // }
}
