.heroImage {
  height: 400px;
  background-image: url(../../../assets/images/francesca-tosolini-4TlrOY2IyUA-unsplash.jpg);
  background-color: lightblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 16px;
}

.textSection {
  display: flex;
  margin-bottom: 32px;
  margin-left: 42px;
  margin-right: 59px;

  .descriptionContent {
    width: 98%;
    margin-right: 32px;
  }

  .sideContent {
    width: 30%;
  }
}

@media (max-width: "768px") {
  .heroImage {
    height: 200px;
  }
}
