@import "../../../variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 88px 21px 88px;

  .createCollectionBtn {
    padding: 12px 16px;
    background-color: $buttons-color;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 24px;
    line-height: 28px;
  }
  .searchContainer {
    position: relative;

    .searchBar {
      width: 400px;
      height: 48px;
      border: 1px solid #cacaca;
      border-radius: 8px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      padding: 14px;
    }

    input::placeholder {
      font-size: 16px;
      line-height: 19px;
      color: #cacaca;
    }

    .searchBtn {
      width: 47px;
      position: absolute;
      background-color: $buttons-color;
      color: #fff;
      font-size: 24px;
      line-height: 48px;
      top: 0;
      right: 0;
      text-align: center;
      border-radius: 0 6px 6px 0;
    }
  }

  .filterBtn {
    width: 32px;
    height: 32px;
    font-size: 30px;
    margin-left: 113px;
    color: #6b6b6b;
  }
}

@media (max-width: "768px") {
  .container {
    .searchBar {
      width: 200px;
    }

    .filterBtn {
      margin: 0;
      color: red;
    }
  }
}
@media (max-width: "425px") {
  .container {
    margin: 0;

    .searchBar {
      width: 200px;
    }

    .filterBtn {
      margin: 0;
      color: darkblue;
    }
  }
}
