@import "../../../variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 88px 21px 88px;

  .createCollectionBtn {
    padding: 12px 16px;
    background-color: $buttons-color;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 24px;
    line-height: 28px;
  }
  .searchContainer {
    position: relative;

    .searchBar {
      width: 400px;
      height: 48px;
      border: 1px solid #cacaca;
      border-radius: 8px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      padding: 14px;
      font-size: 16px;
      line-height: 19px;
    }

    input::placeholder {
      color: #cacaca;
    }

    .searchBtn {
      width: 47px;
      position: absolute;
      background-color: $buttons-color;
      color: #fff;
      font-size: 24px;
      line-height: 48px;
      top: 0;
      right: 0;
      text-align: center;
      border-radius: 0 6px 6px 0;
    }
  }

  .filterBtn {
    width: 32px;
    height: 32px;
    font-size: 30px;
    margin-left: 113px;
    color: $secondaryText;
  }
}

@media (max-width: "768px") {
  .container {
    margin: 0 50px 21px 80px;

    .searchBar {
      width: 200px;
    }

    .filterBtn {
      margin: 0;
    }
  }
}

@media (max-width: "428px") {
  .container {
    margin: 0 10px 21px 10px;

    .createCollectionBtn {
      text-align: center;
      padding: 0.5em 0.62em;
      font-size: 12px;
      line-height: 1.1em;
    }

    .searchContainer {
      .searchBar {
        font-size: 12px;
        width: 20em;
        height: 3em;
        padding: 0.875em;
        line-height: 1.1875em;
      }

      .searchBtn {
        font-size: 18px;
        width: 1.95em;
        line-height: 2em;
      }
    }

    .filterBtn {
      margin: 0;
      width: 1.06em;
      height: 1.06em;
      font-size: 20px;
    }
  }
}
