/*IMPORTS*/
@import "./reset.scss";
@import "./variables.scss";

/*GLOBAL STYLES*/
body {
  font-family: $ff-roboto;
  color: $mainText-color;
  max-width: 1440px;
}

.btn,
.link {
  cursor: pointer;
}
