@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*COLORS*/
$deleteBtn-color: #fd2a4f;
$buttons-color: #76323f;
$mainText-color: #343434;
$secondaryText: #6b6b6b;

/*FONTS*/
$ff-roboto: ("Roboto", sans-serif);
