.container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 16px;
  margin-left: 88px;
  margin-right: 88px;
}

@media (max-width: "768px") {
  .container {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: "428px") {
  .container {
    grid-template-columns: repeat(2, auto);
    margin: 0 15px;
    justify-content: center;
  }
}
@media (max-width: "378px") {
  .container {
    grid-template-columns: 100px;
  }
}
